{% extends 'layout.html' %} {% block custom_styles %}
<link href="../../static/css/nav.css" rel="stylesheet" />
<link href="../../static/css/styles.css" rel="stylesheet" />
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="../../static/img/favicon.ico" />
{% endblock %} {% block title %}Insert Buses{% endblock %} {% block content %}
<!-- Buses-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">Buses</h2>
    <hr class="divider" />
    <div class="row gx-4 gx-lg-5">
      <div class="form-body">
        <div class="row">
          <div class="form-holder mx-auto">
            <div class="form-content mx-auto w-50">
              <div class="form-items">
                <h3>Bus:</h3>
                <p>Completa los siguientes datos.</p>
                <form
                  action="/insert-bus"
                  method="POST"
                  class="requires-validation"
                  novalidate
                >
                  <div class="col-md-12 py-2">
                    <label>Placa</label>
                    <input
                      class="form-control"
                      type="text"
                      name="plate"
                      placeholder="Placa"
                      value=""
                      required
                    />
                    <div class="valid-feedback">
                      El campo de placa es válido!
                    </div>
                    <div class="invalid-feedback">
                      El campo de placa no puede estar en blanco!
                    </div>
                  </div>

                  <div class="col-md-12 py-2">
                    <label>Tipo</label>
                    <input
                      class="form-control"
                      type="text"
                      name="type"
                      placeholder="Tipo"
                      value=""
                      required
                    />
                    <div class="valid-feedback">
                      El campo de tipo es válido!
                    </div>
                    <div class="invalid-feedback">
                      El campo de tipo no puede estar en blanco!
                    </div>
                  </div>

                  <div class="col-md-12 py-2">
                    <label>Capacidad</label>
                    <input
                      class="form-control"
                      type="number"
                      name="capacity"
                      placeholder="Capacidad"
                      value=""
                      required
                    />
                    <div class="valid-feedback">
                      El campo de capacidad es válido!
                    </div>
                    <div class="invalid-feedback">
                      El campo de capacidad no puede estar en blanco!
                    </div>
                  </div>

                  <div class="col-md-12 py-2">
                    <label>Company</label>
                    <input
                      class="form-control"
                      type="text"
                      name="company"
                      placeholder="Empresa"
                      value=""
                      required
                    />
                    <div class="valid-feedback">
                      El campo de Empresa es válido!
                    </div>
                    <div class="invalid-feedback">
                      El campo de Empresa no puede estar en blanco!
                    </div>
                  </div>
                  <br />
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="invalidCheck"
                      required
                    />
                    <label class="form-check-label"
                      >Confirmo que todos los datos son corrrectos</label
                    >
                    <div class="invalid-feedback">
                      Por favor confirme que todos los datos ingresados sean
                      corrrectos!
                    </div>
                  </div>

                  <div class="form-button mt-3">
                    <button id="submit" type="submit" class="btn btn-primary">
                      Registrar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block custom_js %}

{% endblock %}
