{% extends 'layout.html' %} {% block custom_styles %}
{% load static %}
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}" />
{% endblock %}
{% block title %}Buy your tickets{% endblock %} 
{% block content %}
<!-- Form-->
<section class="page-section" id="services">
  <div class="container p-3 col-lg-12 col-12 mx-auto">
    <form
      class="custom-form contact-form bg-white shadow-lg"
      action="#"
      method="post"
      role="form"
    >
      <h2>Comprar tiquete</h2>
      {% csrf_token %}
      <div class="row">
        <div class="alert">{{ form.errors }}</div>
        <div class="col-lg-3 col-md-3 col-3">
          {{ form.route }} 
        </div>
        <div class="col-lg-3 col-md-3 col-3">
           {{ form.bus }}
        </div>
        <div class="col-lg-3 col-md-3 col-3"> 
           {{ form.passenger }}
        </div>
        <div class="col-lg-3 col-md-3 col-3">
          {{ form.travel_date }}
        </div>
        <div class="col-lg-3 col-md-3 col-3">
          {{ form.departure_time }}
        </div>

        <div class="col-lg-3 col-md-3 col-3">
          {{ form.quantity }}
        </div>
        
        <div class="col-lg-3 col-md-3 col-3 pb-1 float-end position-static" >
          <button type="submit" class="form-control pt-2">Comprar</button>
        </div>
      </div>
    </form>
  </div>

</section>
{% endblock %} 
