{% extends 'layout.html' %} {% block custom_styles %}
{% load static %}
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}" />
{% endblock %} {% block title %}Rutas{% endblock %} {% block content %}
<!-- Routes-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">Rutas</h2>
    <hr class="divider" />
    <div class="row gx-4 gx-lg-5">
      <table id="routeTable" class="table table-hover">
        <thead class="table-primary bg-opacity-50">
          <tr>
            <th>ID</th>
            <th>Origen</th>
            <th>Destino</th>
          </tr>
        </thead>
        <tbody>
          {% if routes != none %} {% for route in routes %}
          <tr>
            <td>{{route.id}}</td>
            <td>{{route.origin}}</td>
            <td>{{route.destination}}</td>
          </tr>
          {% endfor%} {% endif%} 
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mb-4">Los tiquetes más baratos que encontrarás!</h2>
    <a class="btn btn-light btn-xl" href="/buy-tickets">Compralos ahora!</a>
  </div>
</section>
{% endblock %}
